<%-include('partials/header2')-%>
<main>
    <h1>Oops! You've hit a dead end.</h1>
    <p>Unfortunately, this clue doesn't lead to the next step in the treasure hunt. But don't worry, you can always go back to the previous clue and try a different approach.</p>
    <p>Remember, in order to find the treasure, you'll need to use all of your problem-solving skills and think creatively. Keep exploring and don't give up! We believe in you.</p>
    <p>Good luck on the rest of your treasure hunt!</p>
</main>
<%-include('partials/footer')-%>