<%-include('partials/header') -%>
<main>
    <section>
        <h1>Welcome to the Treasure Hunt!</h1>
        <p>Welcome to the Puzzle Application! This interactive puzzle is designed to assess your soft skills such as eye for detail, perseverance, curiosity, and more. The puzzle revolves around a central theme and incorporates direct or subtle methods of measuring these skills.</p>

            <p>As you progress through the puzzle, you will need to solve clues and find treasures hidden on the website. Each clue will lead you to the next one, and the final clue will lead you to the treasure.</p>
            
            <p>To participate in the game, simply create an account using your email address. All your progress, including the time taken for each step and your solution accuracy, will be saved and analyzed.  If you need to take a break or refresh your browser, the puzzle will start from the same step.</p>
            <p>Please log in to view the dashboard or attempt the treasure hunt. We hope you enjoy the Puzzle Application and look forward to seeing how your soft skills stack up!</p>
        
    
        <a href="/register" class="btn btn-primary btn-lg">Register Now</a>
    </section>
</main>
<%-include('partials/footer')-%>